//input
.react-aria-TextField {
  position: relative;
  display: flex;
  flex: 1;
  gap: var(--spacing-2);

  input, textarea {
    flex: 1;
    width: 100%;
    height: 42px;
    padding: 0 var(--spacing-8);
    border-radius: var(--radius);
    border: 1px solid var(--gray-40);
    background: var(--gray-0);
    font-weight: 500;
    transition: none;

    &:-ms-input-placeholder {
      color: var(--placeholder-color);
    }
    &::-webkit-input-placeholder {
      color: var(--placeholder-color);
    }
    &::-moz-placeholder {
      color: var(--placeholder-color);
    }

    &:focus {
      border-width: 2px;
      border-color: var(--gray-70);
    }

    &:disabled, &:read-only {
      border-color: var(--gray-40);
      background-color: var(--gray-20);
      &:focus {
        border-width: 1px;
      }
    }

    + button {
      flex: none;
    }
  }

  textarea {
    height: 120px;
    padding: var(--spacing-6);
  }
  &[data-invalid='true'] {
    input {
      border-width: 2px;
      border-color: var(--point-pink-50);
    }
    .react-aria-FieldError {
      display: block;
      color: var(--point-pink-50);
      margin-top: 4px;
      font-size: var(--font-size-13);
    }
  }
  .react-aria-Group {
    width: 100%;
  }
}
.react-aria-Label {
  display: block;
  width: 100%;
  color: var(--text-color-base);
  margin-bottom: 12px;
}

[data-required='true'] {
  .react-aria-Label {
    &::after {
      display: inline-block;
      content: '*';
      color: var(--point-pink-50);
      margin-left: 2px;
    }
  }
}

//form
.react-aria-Form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}
.react-aria-Group {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}