.react-aria-ListBox {
    max-height: inherit;
    overflow: auto;
    border: 0.5px solid var(--border-color);
    border-radius: calc(var(--radius) + var(--spacing-1));
    background: var(--overlay-background);
    forced-color-adjust: none;
    outline: none;
    box-sizing: border-box;
    font: var(--font-size) system-ui;
    color: var(--text-color);

    &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
    }

    &[data-empty] {
        align-items: center;
        justify-content: center;
        font-style: italic;
    }

    &[data-drop-target] {
        outline: 2px solid var(--highlight-background);
        outline-offset: -1px;
        background: var(--highlight-overlay);
    }

    .react-aria-DropIndicator[data-drop-target] {
        z-index: 3;
        outline: 1px solid var(--highlight-background);
    }
}

.react-aria-ListBoxSection {
    .react-aria-Header {
        position: sticky;
        top: -0.5px;
        z-index: 2;
        font-size: var(--font-size-sm);
        font-weight: 600;
        font-variation-settings: initial;
        padding: var(--spacing-1) var(--spacing-4);
        background: var(--gray-100);
        border-block: 0.5px solid var(--gray-400);
        cursor: default;
        user-select: none;
        box-shadow: inset 0px 1px 0px white, inset 0px -4px 8px var(--gray-200);

        @media (prefers-color-scheme: dark) {
            box-shadow: inset 0px 4px 8px var(--gray-200);
        }
    }

    &:first-child .react-aria-Header {
        margin-top: -0.5px;
    }
}

.react-aria-ListBoxItem {
    padding: var(--spacing-1) var(--spacing-3);
    border-radius: var(--radius);
    outline: none;
    cursor: default;
    color: var(--text-color);
    font: var(--font-size) system-ui;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--spacing-8);
    box-sizing: border-box;
    position: relative;
    transition-property: background, color, border-radius;
    transition-duration: 200ms;
    -webkit-tap-highlight-color: transparent;

    --border-color: var(--gray-300);
    &:not(:last-child)::after {
        content: "";
        display: block;
        position: absolute;
    }

    &[data-pressed] {
        background: var(--highlight-hover);
        border-radius: var(--radius);
    }

    &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -2px;
        z-index: 2;
    }

    &[data-selected] {
        background: var(--highlight-background);
        color: var(--highlight-foreground);
        --border-color: transparent;

        &[data-focus-visible] {
            outline-color: var(--highlight-foreground);
            outline-offset: -4px;
        }

        &[data-pressed] {
            background: var(--highlight-background-pressed);
        }

        &:has(+ [data-selected]),
        &:has(+ .react-aria-DropIndicator + [data-selected]) {
            --border-color: rgb(255 255 255 / 0.3);
        }
    }

    [slot="label"] {
        font-weight: 500;
    }

    [slot="description"] {
        font-size: var(--font-size-sm);
    }

    &[href] {
        text-decoration: none;
        cursor: pointer;
        -webkit-touch-callout: none;
    }

    &[data-disabled] {
        color: var(--text-color-disabled);
    }

    &[data-dragging] {
        opacity: 0.6;
    }

    &[data-drop-target] {
        outline: 2px solid var(--highlight-background);
        background: var(--highlight-overlay);
    }
}

.react-aria-ListBox {
    &[data-layout="stack"] {
        display: flex;

        &[data-orientation="vertical"] {
            flex-direction: column;
            width: 100%;
            max-height: 300px;
            min-height: 100px;
            padding: 4px 0;
            border-radius: 8px;
            border: 1px solid #d9d9d9;
            background: #fff;

            .react-aria-ListBoxItem {
                margin-inline: var(--spacing-1);

                &:where(:nth-child(1 of .react-aria-ListBoxItem)) {
                    margin-top: var(--spacing);
                }

                &:where(:nth-last-child(1 of .react-aria-ListBoxItem)) {
                    margin-bottom: var(--spacing);
                }

                [role="presentation"] > & {
                    margin: 0; /* virtualizer */
                }

                &:not(:last-child)::after {
                    bottom: 0;
                    width: calc(100% - var(--spacing-6));
                    border-bottom: 0.5px solid var(--border-color);
                }

                &[data-selected] {
                    &:has(+ [data-selected]),
                    &:has(+ .react-aria-DropIndicator + [data-selected]) {
                        border-end-start-radius: 0;
                        border-end-end-radius: 0;
                    }

                    + [data-selected],
                    + .react-aria-DropIndicator + [data-selected] {
                        border-start-start-radius: 0;
                        border-start-end-radius: 0;
                    }
                }
            }
        }

        &[data-orientation="horizontal"] {
            flex-direction: row;
            width: 100%;

            .react-aria-ListBoxItem {
                min-width: max-content;
                margin-block: var(--spacing-1);

                &:nth-child(1 of .react-aria-ListBoxItem) {
                    margin-inline-start: var(--spacing);
                }

                &:nth-last-child(1 of .react-aria-ListBoxItem) {
                    margin-inline-end: var(--spacing);
                }

                &:not(:last-child)::after {
                    inset-inline-end: 0;
                    height: calc(100% - var(--spacing-2));
                    border-inline-end: 0.5px solid var(--border-color);
                }

                &[data-selected] {
                    &:has(+ [data-selected]),
                    &:has(+ .react-aria-DropIndicator + [data-selected]) {
                        border-start-end-radius: 0;
                        border-end-end-radius: 0;
                    }

                    + [data-selected],
                    + .react-aria-DropIndicator + [data-selected] {
                        border-start-start-radius: 0;
                        border-end-start-radius: 0;
                    }
                }
            }
        }
    }

    &[data-layout="grid"] {
        display: grid;
        gap: var(--spacing-1);
        width: fit-content;
        max-width: 100%;
        padding: var(--spacing-1);

        &[data-orientation="vertical"] {
            grid-template-columns: 1fr 1fr;
        }

        &[data-orientation="horizontal"] {
            grid-auto-flow: column;
            grid-template-rows: auto auto;
            grid-template-columns: none;
            grid-auto-columns: 160px;
        }
    }
}

.react-aria-ListBoxLoadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100%;
}

.dropdown-listbox {
    display: block;
    max-height: inherit;
    overflow: auto;
    border-radius: inherit;
    forced-color-adjust: none;
    outline: none;
    box-sizing: border-box;
    font: var(--font-size) system-ui;
    color: var(--text-color);

    &[data-empty] {
        min-height: var(--spacing-8);
        padding: var(--spacing-2);
    }

    .react-aria-Header {
        padding-left: var(--spacing-7);
    }
}

.dropdown-item {
    padding: 0 16px;
    border-radius: 4px;
    outline: none;
    cursor: default;
    color: #383838;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: 32px;
    -webkit-tap-highlight-color: transparent;


    &[data-selected] {
        background: #f8f8f8; 
        font-weight: 500;

        .lucide-check {
            position: absolute;
            top: 50%;
            left: var(--spacing-1);
            translate: 0 -50%;
            stroke-width: 3px;
            width: var(--spacing-4);
            height: var(--spacing-4);
        }
    }

    &[data-selection-mode="multiple"] {
        cursor: pointer;
    }

    &[data-pressed] {
        background: #f8f8f8; 
    }

    &[data-focused] {
        background: #f8f8f8; 
    }

    [slot="label"] {
        font-weight: 500;
    }

    [slot="description"] {
        font-size: var(--font-size-sm);
    }

    &[data-disabled] {
        color: var(--text-color-disabled);
    }

    &[href] {
        text-decoration: none;
        cursor: pointer;
    }
}

.dropdown-checkbox {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  
  .checkbox-box {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox-icon {
    width: 18px;
    height: 18px;
    
    .empty-box {
      fill: none;
      stroke: #999;
      stroke-width: 2;
      rx: 3;
    }
    
    .check-mark {
      fill: none;
      stroke: #0066cc;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}


.react-aria-Select {
    color: var(--text-color);
    position: relative;
    width: 100%;

    .react-aria-Button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-width: 0;
        height: 42px;
        padding: 0 16px;
        border-radius: 8px;
        border: 1px solid #ddd;

        &[data-pressed] {
            border-color: #333;
        }
        &[data-focused] {
            border-color: #333;
        }
    }

    .react-aria-SelectValue {
        flex: 1;
        text-align: start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &[data-placeholder] {
            color: #383838;
            font-weight: normal;
        }
    }

    .lucide-chevron-down {
        margin-inline-start: var(--spacing-2);
    }

    .react-aria-SelectValue {
        [slot="description"] {
            display: none;
        }
    }
}

.select-popover[data-trigger="Select"] {
    width: var(--trigger-width);
    padding: 0;
}
