.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--page-height);
  background: rgba(0 0 0 / .5);
  z-index: 1000;
  font-family: system-ui;
  font-size: var(--font-size);

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

body .react-aria-Modal {
  position: fixed;
  max-height: var(--visual-viewport-height);
  top: calc(var(--visual-viewport-height) / 2);
  margin-left: 50vw;
  translate: -50% -50%;
  border-radius: var(--radius-xl);
  background: var(--background-color);
  color: var(--text-color-base);
  border: 1px solid var(--border-color);
  width: max-content;
  max-width: min(560px, 90vw); 
  width: 560px;

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  // .react-aria-TextField {
  //   margin-bottom: 8px;
  // }

  .button-group {
    + * {
      margin-top: var(--spacing-6);
    }
  }

  h4 {
    color: var(--point-pink-70);
    color: #910036;
    font-family: 'GmarketSans';
    font-size: var(--font-size-19); 
    font-weight: 500;
    line-height: 1;
    margin-bottom: var(--spacing-4);
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
