
.react-aria-Meter {
  display: grid;
  grid-template-areas: "label value"
                       "bar bar";
  grid-template-columns: 1fr auto;
  width: 100%;
  color: var(--text-color);
  font: var(--font-size) system-ui;

  .value {
    grid-area: value;
  }

  .track {
    grid-area: bar;
    forced-color-adjust: none;
    height: calc(var(--spacing-2) + 2px);
    border-radius: 9999px;
    border-radius: 4px;
    border: 1px solid #E9E8EA;
    background: #FFF;
  }

  .fill {
    background: linear-gradient(270deg, #D70251 -52.39%, #ED751A 100%);
    box-shadow: 0 0 16px 0 rgba(220, 28, 68, 0.20);
    height: 100%;
    border-radius: 3px;

    @media (forced-colors: active) {
      box-shadow: none;
      background: Highlight;
    }
  }
}
