.react-aria-Checkbox {
  --checkmark-color: var(--highlight-foreground);

  display: flex;
  position: relative;
  align-items: center;
  gap: var(--spacing-2);
  font: var(--font-size) system-ui;
  color: var(--text-color);
  forced-color-adjust: none;
  -webkit-tap-highlight-color: transparent;

  > span {
    width: 100%;
    height: 100%;
  }

  .indicator {
    width: 100%;
    height: calc(var(--spacing) * 4.5);
    box-sizing: border-box;
    border-radius: var(--radius-sm);
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &[data-selected],
  &[data-indeterminate] {
    svg {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    svg {
      stroke: none;
      fill: var(--checkmark-color);
    }
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    --checkmark-color: var(--text-color-disabled);
  }
}

.react-aria-Checkbox {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius:  4px;
  border: 1px solid #D2D5D8;
  cursor: pointer;
}
[data-selected] {
  .react-aria-Checkbox {
    border-color: #333;
    background: #333;
  }
}